---

---

<head>
  <title>DietBot 3000</title>

  <style>
    h1 {
      background-color: rgb(200, 200, 200);
      padding: 50px;
    }
    h2 {
      background-color: rgb(200, 200, 200);
      position: relative;
      top: -21px;
    }
  </style>
</head>

<body style="background-color:rgb(188, 228, 234)">
  <img
    src="assests/AI_Cover.png"
    alt="AI Chip Design"
    title="AI is always watching.."
  />
  <h1>DietBot 3000</h1>
  <h2>Significance</h2>
  <link rel="stylesheet" />
  Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah <strong><abbr title="HAMIZ SUCKS">H.S</abbr></strong> blah blah blah blah
  blah blah blah.
</body>
<h3>Links</h3>
<a href="https://github.com/MrWiskerz/DietBot3000-Research-Program">
  Github Repository <link rel="stylesheet" href="" /></a
>
<a href="https://forms.gle/LDaZbnoDZoAK7M9KA">Participant Questionnare</a>
