---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <header class="hero-header">
    <img src="/assets/AI_Cover.png" alt="Overview Image" class="hero-image" />
    <div class="hero-text">
      <h1>DietDroid3000</h1>
      <p>AI-Powered Personalized Diet Plans</p>
    </div>
  </header>

  <nav>
    <ul>
      <li><a href="#abstract">Abstract</a></li>
      <li><a href="#results">Details</a></li>
      <li><a href="#questionnaire">Experiment</a></li>
      <li><a href="#workscited">Sources</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <section id="abstract">
    <h2>Abstract</h2>
    <p>
      The cost and difficulty that comes from consulting dietitians or the
      overwhelming amount of nutritional information online makes creating a
      personalized diet plan challenging for average consumers. For many,
      balancing personal dietary needs, preferences, and health conditions is
      complicated and time consuming; an AI personalized diet tool may alleviate
      this struggle. To accomplish this, extensive information including
      guidelines for various diet plans, nutritional values of common food,
      dietary restrictions, and optimal diets for certain health goals is
      gathered from nutrition databases, research papers, peer-reviewed
      journals, and systematic reviews to create a dataset on diet formation.
      Training the Gemini 1.5 Flash machine-learning(ML) model, using linguistic
      processing of structured data text allows users to input information in
      regards to their current health, diet, goals and preferences for
      processing. Once processed, this information results in a personalized
      diet based on user input. This includes multiple options for detailed
      meals, and their nutrient information. A double-blind experiment is then
      conducted where participants rate both dietary plans based on: well being,
      personal satisfaction, cultural inclusion, and activity inclusion. Results
      indicate 84.4% of participants prefer the trained model’s diet plan. In
      total, participants report the trained model poses 9.30% betterment in
      cultural inclusion, 14.6% in well-being, 5.49% in personal satisfaction,
      6.23% betterment of profiling, and 3.98% in activity inclusion. Total mean
      improvement is 8.13%, demonstrating success in all criteria.
    </p>
  </section>

  <section id="results">
    <h2>Primary Findings</h2>
    <p>
      Results showed a mean improvement of 8.13% across all criteria. Specific
      areas of improvement included:
    </p>
    <ul>
      <li>Cultural inclusion: 9.30% improvement</li>
      <li>Well-being: 14.6% improvement</li>
      <li>Personal satisfaction: 5.49% improvement</li>
      <li>Profiling accuracy: 6.23% improvement</li>
      <li>Activity inclusion: 3.98% improvement</li>
    </ul>
    <img src="assets/Graph.png" alt="Results Chart" />
  </section>

  <section id="questionnaire">
    <h2>Participant Questionnaire</h2>
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSfa0jbggHNLPeeFHmNkxtkNxeTUq-uBGrC9K7uAcV57ssEsBQ/viewform?embedded=true"
      height="800"
      width="800"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
    >
      Loading…
    </iframe>
  </section>

  <section id="workscited">
    <h2>Works Cited</h2>
    <p>
      <ul>
        <li>
          About Body mass index (BMI). (2024, May 20). BMI.
          https://www.cdc.gov/bmi/about/index.html
        </li>
        <li>
          Adult BMI categories. (2024, March 19). BMI.
          https://www.cdc.gov/bmi/adult-calculator/bmi-categories.html
        </li>
        <li>
          Ajmera, R. a. M. (2021, November 12). Top 10 Healthy Cuisines from
          Around the World. Healthline.
          https://www.healthline.com/health/food-nutrition/travel-healthiest-cuisines#10.-Lebanese
        </li>
        <li>
          Ajmera, R. a. M. (2024, May 30). 8 of the Best Diet Plans and Programs
          for Athletes. Healthline.
          https://www.healthline.com/nutrition/diets-for-athletes
        </li>
        <li>
          Artificial sweeteners and cancer. (2023, August 29). Cancer.gov.
          https://www.cancer.gov/about-cancer/causes-prevention/risk/diet/artificial-sweeteners-fact-sheet
        </li>
        <li>
          Bhupathiraju, S. N., & Hu, F. (2023, February 9). Overview of
          nutrition. Merck Manual Professional Edition.
          https://www.merckmanuals.com/professional/nutritional-disorders/nutrition-general-considerations/overview-of-nutrition
        </li>
        <li>
          Breaking down food. (2024, June 18). NIH News in Health.
          https://newsinhealth.nih.gov/2023/08/breaking-down-food
        </li>
        <li>
          Calorie restriction and fasting diets: What do we know? (2018, August
          14). National Institute on Aging.
          https://www.nia.nih.gov/news/calorie-restriction-and-fasting-diets-what-do-we-know
        </li>
        <li>
          Caspi, C. E., Sorensen, G., Subramanian, S., & Kawachi, I. (2012). The
          local food environment and diet: A systematic review. Health & Place,
          18(5), 1172–1187. https://doi.org/10.1016/j.healthplace.2012.05.006
        </li>
        <li>
          Child and Teen BMI categories. (2024, June 28). BMI.
          https://www.cdc.gov/bmi/child-teen-calculator/bmi-categories.html
        </li>
        <li>
          Choose foods low in sodium. (2013).
          https://www.nhlbi.nih.gov/health/educational/healthdisp/pdf/tipsheets/Choose-Foods-Low-in-Sodium.pdf
        </li>
        <li>
          Chouraqui, J., Turck, D., Briend, A., Darmaun, D., Bocquet, A.,
          Feillet, F., Frelut, M., Girardet, J., Guimber, D., Hankard, R.,
          Lapillonne, A., Peretti, N., Roze, J., Siméoni, U., & Dupont, C.
          (2020). Religious dietary rules and their potential nutritional and
          health consequences. International Journal of Epidemiology, 50(1),
          12–26. https://doi.org/10.1093/ije/dyaa182
        </li>
        <li>
          Cissn, R. M. M. (2023, May 31). The 18 best healthful foods to gain
          weight fast. Healthline.
          https://www.healthline.com/nutrition/18-foods-to-gain-weight
        </li>
        <li>
          Courtney, & Anaya, C. (2019, September 24). The $50 per week meal plan
          for clean eating. Muscle & Fitness.
          https://www.muscleandfitness.com/nutrition/healthy-eating/broke-mans-guide-muscle-building-groceries/
        </li>
        <li>
          Crumley, L. (2023, January 30). 14 health-boosting alternatives to
          commonly used foods | News.
          https://news.llu.edu/health-wellness/14-health-boosting-alternatives-commonly-used-foods
        </li>
        <li>
          DASH Eating Plan | NHLBI, NIH. (2001, January 4). NHLBI, NIH.
          https://www.nhlbi.nih.gov/education/dash-eating-plan
        </li>
        <li>
          Department of Health & Human Services. (n.d.). Food and your life
          stages. Better Health Channel.
          https://www.betterhealth.vic.gov.au/health/healthyliving/food-and-your-life-stages
        </li>
        <li>
          Desalermos, A., Russell, B., Leggett, C., Parnell, A., Ober, K.,
          Hagerich, K., Gerlan, C., Ganji, G., Lee, E., Proudfoot, J. A.,
          Grunvald, E., Gupta, S., Ho, S. B., & Zarrinpar, A. (2019). Effect of
          obesogenic medications on Weight‐Loss outcomes in a Behavioral
          Weight‐Management Program. Obesity, 27(5), 716–723.
          https://doi.org/10.1002/oby.22444
        </li>
        <li>
          DeSilva, D. (2021, July 1). Nutrition as We Age: Healthy Eating with
          the Dietary Guidelines - News & Events | health.gov. health.gov.
          https://health.gov/news/202107/nutrition-we-age-healthy-eating-dietary-guidelines
        </li>
        <li>
          Diabetes and kidney disease: what to eat? (2024, May 15). Diabetes.
          https://www.cdc.gov/diabetes/healthy-eating/diabetes-and-kidney-disease-food.html
        </li>
        <li>
          Diabetes Basics. (2024, May 15). Diabetes.
          https://www.cdc.gov/diabetes/about/
        </li>
        <li>
          Diabetes: MedlinePlus Medical Encyclopedia. (n.d.).
          https://medlineplus.gov/ency/article/001214.htm
        </li>
        <li>
          Ducrot, P., Méjean, C., Aroumougame, V., Ibanez, G., Allès, B.,
          Kesse-Guyot, E., Hercberg, S., & Péneau, S. (2017). Meal planning is
          associated with food variety, diet quality and body weight status in a
          large sample of French adults. International Journal of Behavioral
          Nutrition and Physical Activity, 14(1).
          https://doi.org/10.1186/s12966-017-0461-7
        </li>
        <li>
          Eating a balanced diet. (2024, April 15). nhs.uk.
          https://www.nhs.uk/live-well/eat-well/how-to-eat-a-balanced-diet/eating-a-balanced-diet/
        </li>
        <li>
          Eating, Diet, &amp; Nutrition for Lactose Intolerance. (2022, October
          11). National Institute of Diabetes and Digestive and Kidney Diseases.
          https://www.niddk.nih.gov/health-information/digestive-diseases/lactose-intolerance/eating-diet-nutrition
        </li>
        <li>
          Editorial Staff. (2020, July 9). Personalized Nutrition - Tufts Health
          & Nutrition Letter. Tufts Health & Nutrition Letter.
          https://www.nutritionletter.tufts.edu/healthy-eating/personalized-nutrition/
        </li>
        <li>
          Egg allergy diet for children. (n.d.). Stanford Medicine Children’s
          Health.
          https://www.stanfordchildrens.org/en/topic/default?id=egg-allergy-diet-for-children-90-P01684
        </li>
        <li>
          Erica. (2022, February 23). The Performance Training and Nutrition
          Menu for Female Athletes - Erica Suter. Erica Suter.
          https://ericasuter.com/the-performance-training-and-nutrition-menu-for-beast-athletes/
        </li>
        <li>
          Fish Interfaith Center. (n.d.). Religious dietary restrictions.
          https://www.chapman.edu/campus-life/fish-interfaith-center/_files/religious-dietary-restrictions.pdf
        </li>
        <li>
          Flinn, K. (2023, May 5). A cheat sheet to flavor profiles. Cook
          Fearless From Kathleen Flinn - Storyteller. Cook. Teacher.
          https://kathleenflinn.com/a-cheat-sheet-to-flavor-profiles/
        </li>
        <li>
          Food safety for older adults and people with cancer, diabetes,
          HIV/AIDS, organ transplants, and autoimmune diseases. (n.d.). U.S.
          Food And Drug Administration.
        </li>
        <li>
          Fresán, U., Errendal, S., & Craig, W. J. (2020). Influence of the
          Socio-Cultural environment and external factors in following
          Plant-Based diets. Sustainability, 12(21), 9093.
          https://doi.org/10.3390/su12219093
        </li>
        <li>
          Friel, C., Leyland, A. H., Anderson, J. J., Havdahl, A., Brantsæter,
          A. L., & Dundas, R. (2024). Healthy prenatal dietary pattern and
          offspring autism. JAMA Network Open, 7(7), e2422815.
          https://doi.org/10.1001/jamanetworkopen.2024.22815
        </li>
        <li>
          Gluten-free diet. (2024, June 14). Mayo Clinic.
          https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/in-depth/gluten-free-diet/art-20048530
        </li>
        <li>
          Harvard Health. (2024, April 3). Calorie counting made easy.
          https://www.health.harvard.edu/staying-healthy/calorie-counting-made-easy#:~:text=To%20do%20so%2C%20you%20need,if%20you%20are%20moderately%20active
        </li>
        <li>
          Healthdirect Australia. (n.d.). Healthy food swaps. Healthdirect.
          https://www.healthdirect.gov.au/healthy-food-swaps
        </li>
        <li>
          Healthy eating. (n.d.).
          https://www.nhlbi.nih.gov/health/educational/lose_wt/eat/tips_eth_dine.htm
        </li>
        <li>
          Healthy eating as you age: Know your food groups. (2022, February 25).
          National Institute on Aging.
          https://www.nia.nih.gov/health/healthy-eating-nutrition-and-diet/healthy-eating-you-age-know-your-food-groups
        </li>
        <li>
          Healthy meal planning on a budget: 15 tips from a nutrition therapist.
          (2022, March 18). Nebraska Medicine Omaha, NE.
          https://www.nebraskamed.com/primary-care/healthy-meal-planning-on-a-budget-15-tips-from-a-nutrition-therapist
        </li>
        <li>
          Helpful guidelines for successful weight loss. (2006). UC Davis Health
          System.
        </li>
        <li>
          High blood pressure (Hypertension). (n.d.). U.S. Food And Drug
          Administration.
          https://www.fda.gov/consumers/womens-health/high-blood-pressure-hypertension
        </li>
        <li>
          HIV and Nutrition and Food Safety | NIH. (2021, August 23).
          https://hivinfo.nih.gov/understanding-hiv/fact-sheets/hiv-and-nutrition-and-food-safety
        </li>
        <li>
          Internet, F. (n.d.). Calories Calculation. Ministry of Health and
          Prevention - UAE.
          https://mohap.gov.ae/en/more/awareness-center/calories-calculation#:~:text=If%20you%20are%20sedentary%20
        </li>
        <li>
          Iraki, J., Fitschen, P., Espinar, S., & Helms, E. (2019). Nutrition
          Recommendations for Bodybuilders in the Off-Season: A Narrative
          review. Sports, 7(7), 154. https://doi.org/10.3390/sports7070154
        </li>
        <li>
          Irritable bowel syndrome: what you need to know. (n.d.). NCCIH.
          https://www.nccih.nih.gov/health/irritable-bowel-syndrome-what-you-need-to-know
        </li>
        <li>
          Is a caloric surplus necessary to build muscle? (2022, December 13).
          MedicineNet.
          https://www.medicinenet.com/is_a_caloric_surplus_necessary_to_build_muscle/article.htm
        </li>
        <li>
          Joseph, R., MD. (2022, July 28). Should you try intermittent fasting
          for weight loss? Harvard Health.
          https://www.health.harvard.edu/blog/intermittent-fasting-surprising-update-2018062914156
        </li>
        <li>
          Kahn, E., Ramsey, L., Brownson, R., Heath, G., Howze, E., Powell, K.,
          Stone, E., Rajab, M., & Corso, P. (2002). The effectiveness of
          interventions to increase physical activityA systematic review1 and 2.
          American Journal of Preventive Medicine, 22(4), 73–107.
          https://doi.org/10.1016/s0749-3797(02)00434-8
        </li>
        <li>
          Kim, J. (2020). Optimal Diet Strategies for weight loss and weight
          loss maintenance. Journal of Obesity and Metabolic Syndrome.
          https://doi.org/10.7570/jomes20065
        </li>
        <li>
          Kim, J. Y. (2020). Optimal Diet Strategies for weight loss and weight
          loss maintenance. Journal of Obesity & Metabolic Syndrome, 30(1),
          20–31. https://doi.org/10.7570/jomes20065
        </li>
        <li>
          Kosch, E. (n.d.). Ideas for a high calorie, high protein diet (K.
          Firby, S. Percy, & Brittany Batell, MPH MSW CHES®, Eds.).
          https://www.med.umich.edu/1libr/Nutrition/HighCalorieHighProteinIdeas.pdf
        </li>
        <li>
          Leaf, A., & Antonio. (2017). The Effects of Overfeeding on Body
          Composition: The Role of Macronutrient Composition – A Narrative
          Review. International Journal of Exercise Science.
          https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5786199/
        </li>
        <li>
          Lind, P. L., Jensen, P. V., Glümer, C., & Toft, U. (2016). The
          association between accessibility of local convenience stores and
          unhealthy diet. European Journal of Public Health, 26(4), 634–639.
          https://doi.org/10.1093/eurpub/ckv242
        </li>
        <li>
          Losavio, J., Keenan, M. J., Gollub, E. A., & Silver, H. J. (2023).
          Factors that predict weight loss success differ by diet intervention
          type. Frontiers in Nutrition, 10.
          https://doi.org/10.3389/fnut.2023.1192747
        </li>
        <li>
          MaxiNutrition. (2020, April 20). 4 week Bulking Transformation diet.
          MaxiNutrition.
          https://www.maxinutrition.com/blogs/sports/4-week-bulking-transformation-diet
        </li>
        <li>
          Moradell, A., Casajús, J. A., Moreno, L. A., Vicente-Rodríguez, G., &
          Gómez-Cabello, A. (2023). Effects of Diet—Exercise Interaction on
          Human Health across a Lifespan. Nutrients, 15(11), 2520.
          https://doi.org/10.3390/nu15112520
        </li>
        <li>
          Morris, A. L., & Mohiuddin, S. S. (2023, May 1). Biochemistry,
          nutrients. StatPearls - NCBI Bookshelf.
          https://www.ncbi.nlm.nih.gov/books/NBK554545/
        </li>
        <li>
          National Library of Medicine. (n.d.). Nutrition for older adults.
          https://medlineplus.gov/nutritionforolderadults.html
        </li>
        <li>
          Nelson, C. (n.d.). Candace lately: Religious dietary laws. Candace
          Lately.
          https://www.candacelately.com/2012/06/religious-dietary-laws.html
        </li>
        <li>
          News-Medical, & Bose, P. (2023, August 29). How do popular dietary
          trends impact athletic performance? News-Medical.
          https://www.news-medical.net/news/20230829/How-do-popular-dietary-trends-impact-athletic-performance.aspx
        </li>
        <li>
          Nutrition and People with HIV. (2024, June 18). HIV.gov.
          https://www.hiv.gov/hiv-basics/living-healthy-with-hiv/taking-care-of-yourself/food-safety-and-nutrition
        </li>
        <li>
          Nutrition in cancer care. (2024, June 6). Cancer.gov.
          https://www.cancer.gov/about-cancer/treatment/side-effects/appetite-loss/nutrition-pdq
        </li>
        <li>
          Osilla, E. V., Safadi, A. O., & Sharma, S. (2022, September 12).
          Calories. StatPearls - NCBI Bookshelf.
          https://www.ncbi.nlm.nih.gov/books/NBK499909/
        </li>
        <li>
          Probiotics: usefulness and safety. (n.d.). NCCIH.
          https://www.nccih.nih.gov/health/probiotics-usefulness-and-safety
        </li>
        <li>
          Professional, C. C. M. (2024, September 9). Mediterranean Diet.
          Cleveland Clinic.
          https://my.clevelandclinic.org/health/articles/16037-mediterranean-diet
        </li>
        <li>
          Rd, R. a. M. (2023, March 30). Lactose-Free diet: Foods to eat and
          avoid. Healthline.
          https://www.healthline.com/nutrition/lactose-free-diet
        </li>
        <li>
          Recent evidence on the effects of food store access on food choice and
          diet quality. (2016, May 2). US Department of Agriculture.
          https://www.ers.usda.gov/amber-waves/2016/may/recent-evidence-on-the-effects-of-food-store-access-on-food-choice-and-diet-quality/#:~:text=Limited%20food%20store%20access%20showed,not%20living%20in%20such%20areas
        </li>
        <li>
          Redman, L. M., & Ravussin, E. (2010). Caloric restriction in humans:
          impact on physiological, psychological, and behavioral outcomes.
          Antioxidants and Redox Signaling, 14(2), 275–287.
          https://doi.org/10.1089/ars.2010.3253
        </li>
        <li>
          Rolls, B. J. (2014). What is the role of portion control in weight
          management? International Journal of Obesity, 38(S1), S1–S8.
          https://doi.org/10.1038/ijo.2014.82
        </li>
        <li>
          Sacks, F. M., Bray, G. A., Carey, V. J., Smith, S. R., Ryan, D. H.,
          Anton, S. D., McManus, K., Champagne, C. M., Bishop, L. M., Laranjo,
          N., Leboff, M. S., Rood, J. C., De Jonge, L., Greenway, F. L., Loria,
          C. M., Obarzanek, E., & Williamson, D. A. (2009). Comparison of
          Weight-Loss Diets with Different Compositions of Fat, Protein, and
          Carbohydrates. New England Journal of Medicine, 360(9), 859–873.
          https://doi.org/10.1056/nejmoa0804748
        </li>
        <li>
          Shellfish. (n.d.).
          https://www.thermofisher.com/allergy/us/en/allergen-fact-sheets/shellfish.html
        </li>
        <li>
          Smart Substitutions to Improve Nutrition Without Sacrificing Taste.
          (n.d.). heart.org.
          https://www.heart.org/en/healthy-living/healthy-eating/cooking-skills/cooking/smart-substitutions-to-eat-healthy
        </li>
        <li>
          Stewart, H., & Blisard, N. (2006). The Thrifty Food Plan and
          low-income households in the United States: What food groups are being
          neglected? Food Policy, 31(5), 469–482.
          https://doi.org/10.1016/j.foodpol.2005.12.002
        </li>
        <li>
          Stinson, T. (2024, May 22). The Ultimate Guide to Flavor Profiles. The
          Girl on Bloor. https://thegirlonbloor.com/guide-to-flavor-profiles/
        </li>
        <li>
          Strategies for eating well on a budget. (2024, May 9). The Nutrition
          Source.
          https://nutritionsource.hsph.harvard.edu/strategies-nutrition-budget/
        </li>
        <li>
          Stuckrath, T. (2020, February 5). Religious Dietary Restrictions: your
          essential quick reference guide. Thrive Meetings and Events.
          https://thrivemeetings.com/2018/01/religious-dietary-restrictions-guide/
        </li>
        <li>
          The Mayo Clinic Diet: A weight-loss program for life. (2023, May 4).
          Mayo Clinic.
          https://www.mayoclinic.org/healthy-lifestyle/weight-loss/in-depth/mayo-clinic-diet/art-20045460
        </li>
        <li>
          Tree nut allergy diet | University hospitals. (n.d.).
          https://www.uhhospitals.org/health-information/health-and-wellness-library/article/adult-diseases-and-conditions-v0/tree-nut-allergy-diet
        </li>
        <li>
          Understanding tastes and food flavors. (n.d.). heart.org.
          https://www.heart.org/en/healthy-living/healthy-eating/cooking-skills/meal-planning/understanding-tastes-and-food-flavors
        </li>
        <li>
          Website, N. (2024, September 17). Calculate your body mass index (BMI)
          for adults - NHS. nhs.uk.
          https://www.nhs.uk/health-assessment-tools/calculate-your-body-mass-index/calculate-bmi-for-adults
        </li>
        <li>
          What is a calorie deficit? (2024, July 15). WebMD.
          https://www.webmd.com/diet/calorie-deficit
        </li>
        <li>
          When your weight gain is caused by medicine. (2022, August 29).
          pinhealth.org.
          https://www.pihhealth.org/wellness/articles/weight-gain-caused-by-medicine/#:~:text=%E2%80%9CSome%20medicines%20might%20stimulate%20your,t%20put%20on%20extra%20fat
        </li>
        <li>
          Wong, S. (2023, March 15). 9 healthiest grocery chains in America,
          according to Dietitians. Eat This Not That.
          https://www.eatthis.com/healthiest-grocery-stores/
        </li>
        <li>
          World Health Organization: WHO. (2023, July 17). WHO updates
          guidelines on fats and carbohydrates. World Health Organization.
          https://www.who.int/news/item/17-07-2023-who-updates-guidelines-on-fats-and-carbohydrates
        </li>
        <li>
          Zeratsky, K. (2023, January 11). Underweight? See how to add pounds
          healthfully. Mayo Clinic.
          https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/expert-answers/underweight/faq-20058429
        </li>
      </ul>
    </p>
  </section>

  <footer id="contact">
    <h2>Contact Information</h2>

    <div class="flex-container">
      <div>
        <h2>Questionnaire Form</h2>
        <img src="assets/form_QR.jpeg" alt="Questionnaire QR Code" />
      </div>
      <div>
        <h2>Omar Hamza</h2>
        <p>Email: omh230001@utdallas.edu</p>
        <p>Phone: 469-494-5071</p>
        <h2>Ryan Shrestha</h2>
        <p>Email: rxs7882@mavs.uta.edu</p>
        <p>Phone: 469-951-8346</p>
        <h2>Herbert Melgar</h2>
        <p>Email: Herbert.Melgar@UTDallas</p>
        <p>Phone: 972-261-8010</p>
        <h2>Hamiz Iqbal</h2>
        <p>Email: Hamiz.Iqbal@UTDallas.edu</p>
        <p>Phone: 972-965-1103</p>
      </div>
      <div>
        <h2>Github Repository</h2>
        <img src="assets/git_QR.jpeg" alt="Github QR Code" />
      </div>
    </div>
  </footer>
</MainLayout>
